.container {
  margin: 0 auto;
  width: 90%;
}

main, footer {
  max-width: 800px;
  width: 90%;
  margin: auto;
}

.nav-container {
  margin: 0 auto;
  width: 90%;
}

.nav {
  box-shadow: 0 2px 2px -2px $shadow-color;
  overflow: auto;
  height: 3rem;

  &-container {
    margin: 18px auto 0;
    position: relative;
    overflow: hidden;
    text-align: left;
    
    @media (max-width: 600px) {
    margin: 12px auto 0;
    }
  }

  &-title {
    @include transition(all .2s ease-out);
    color: $default-color;
    display: inline-block;
    margin: 0;
    padding-right: .2rem;
    font-weight: 600;
    font-size: 20px;
    float: left;

    &:hover,
    &:focus {
      color: #ff7f00;
    }
    
    @media (max-width: 600px) {
    font-size: 18px;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    bottom: 0;
    position: absolute;
    right: 0;
  }

  li {
    @include transition(all .2s ease-out);
    color: $default-color;
    display: inline-block;
    padding: 0 20px 0 0;
    font-weight: 600;
    font-size: 18px;

    &:last-child {
      padding-right: 0;
    }

    &:hover,
    &:focus {
      opacity: 0.6;
    }
    
    @media (max-width: 600px) {
    font-size: 16px;
    }
  }

  a {
    color: $default-color;
    font-family: $notosans;
  }
}

/*
@media (min-width: 600px) {
  .nav {
    &-container {
      text-align: left;
    }

    ul {
      bottom: 0;
      position: absolute;
      right: 0;
    }
  }
}
*/

footer {
  font-family: $notosans;
  padding: 2rem 0;
  text-align: center;

  span {
    color: #cccccc;
    font-size: 8px;
    text-align: right;
    display: block;
  }
}

input::-webkit-input-placeholder { /* 크롬 4–56 */
      color: red;
  }
input:-moz-placeholder { /* 파이어폭스 4–18 */
     color: red;
     opacity:  1;
  }
input::-moz-placeholder { /* 파이어폭스 19–50 */
     color: red;
     opacity:  1;
  }
input:-ms-input-placeholder { /* 인터넷 익스플로러 10+ */
     color:  red;
  }
input::placeholder { /* 파이어폭스 51+, 크롬 57+ */
     color: red;
     opacity:  1;
  }
